<div class="container">
  <div class="row">
    <div class = "col">
     <table width = "100%">
        <thead>
          <tr align="center">
            <th colspan="6"><i class="far fa-clock"></i><font size=6px>timeline</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class = "sort" colspan="6">sort :  <%= link_to 'new', public_sort_new_path(new: 'true') %>    |   <%= link_to 'good', public_sort_favorites_path(favorites: 'true') %></td>
          </tr>
          <tr class = "text-center">
            <td>title</td>
            <td>image</td>
            <td>#tag</td>
            <td>introduction</td>
            <td>good</td>
            <td>comment</td>
          </tr>
          <% @voice_posts.each do |voice_post| %>
          <tr class = "text-center">
            <td><%= link_to voice_post.title, public_voice_post_path(voice_post) %></td>
            <td><%= image_tag voice_post.get_image, size: '100x100' %></td>
            <td><%= render_with_hashtags(voice_post.category) %></td>
            <td><%= voice_post.introduction %></td>
            <td>♥<%= voice_post.favorites.count %></td>
            <td><%= voice_post.comment_posts.count %></td>
          </tr>
          <% end %>
          <tr>
            <td colspan="6" class = "text-center"><%= paginate @voice_posts %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>