<div class="container">
  <div class="row">
    <div class = "col">
     <table>
        <thead>
          <tr align="center">
            <th colspan="6"><i class="far fa-clock"></i>timeline</th>
          </tr>
        </thead>
        <tbody>
          <tr class = "text-center">
            <td class = "col-2">title</td>
            <td class = "col-2">image</td>
            <td class = "col-2">#tag</td>
            <td class = "col-2">audio</td>
            <td class = "col-2">good</td>
            <td class = "col-2">comment</td>
          </tr>
          <% @voice_posts.each do |voice_post| %>
          <tr class = "text-center">
            <td><%= link_to voice_post.title, public_voice_post_path(voice_post) %></td>
            <td>
              <% if voice_post.image.attached? %>
                <%= image_tag voice_post.image, size: '150x120' %>
              <% else %>
                <%= image_tag 'no_image.png', size: '100x100' %>
              <% end %>
              </td>
            <td><%= render_with_hashtags(voice_post.category) %></td>
            <td>
              <% if voice_post.voice.attached? %>
                <audio src="<%= rails_storage_redirect_path(voice_post.voice) %>" controls=""></audio>
              <% else %>
                ないよ
              <% end %>
            </td>
            <td>♡<%= voice_post.favorites.count %></td>
            <td><%= voice_post.comment_posts.count %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <!--<div>並び順<%= link_to '新着', public_sort_new_path(new: 'true'), {class: 'sort-link' "#{'active' if current_page?('public/homes/top?new=true')}"} %></div>-->
    </div>
  </div>
</div>