<div class = "container">
  <div class = "row">
    <div style="width: 70%; margin: 0 auto">
      <table>
        <thead>
          <tr>
            <th class = "text-center", colspan="2" ><font size=6px>Sign up</th>
          </tr>
        </thead>
        <tbody>
          <tr class ="border-bottom">
            <%= form_with model: @customer, url: customer_registration_path do |f| %>
            <%= render "public/shared/error_messages", resource: resource %>
            <td class = "text-center", width="25%"><%= f.label :name %></td>
            <td class = "text-center", width="25%"><%= f.text_field :name, autofocus: true, autocomplete: "name" %></td>
          </tr>
          <tr class ="border-bottom">
            <td class = "text-center", width="25%"><%= f.label :email %></td>
            <td class = "text-center", width="25%"><%= f.email_field :email, autocomplete: "email" %></td>
          </tr>
          <tr class ="border-bottom">
            <td class = "text-center"><%= f.label :password %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %>
            </td>
            <td class = "text-center"><%= f.password_field :password, autocomplete: "new-password" %></td>
          </tr>
          <tr class ="border-bottom">
            <td class = "text-center", width="25%"><%= f.label :password_confirmation %></td>
            <td class = "text-center", width="25%"><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
          </tr>
          <tr>
            <td class ="text-right", colspan="2"><%= f.submit "Sign up" %></td>
            <% end %>
          </tr>
        </tbody>
       </table>
    </div>
  </div>
</div>