<table>
  <thead>
    <tr>
      <th><i class="far fa-user"></i><font size=6px>user info</th>
    </tr>
  </thead>
  <tbody>
    <tr><td><%= image_tag customers.get_image, size: '100x100' %></td></tr>
    <tr><td>name: <%=link_to customers.name, {controller: 'voice_posts', action: 'index', id: customers.id } %></td></tr>
    <tr><td>followings: <%= link_to customers.followings.count, public_customer_followings_path(customers.id)  %></td></tr>
    <tr><td>followers: <%=link_to customers.followers.count, public_customer_followers_path(customers.id) %></td></tr>
    <% if customer_signed_in? %>
      <tr><td><%= link_to "edit", edit_public_customer_path(customers.id), data: {"turbolinks"=>false}  %></td></tr>
    <% else %>
    <% end %>
  </tbody>
</table>