<div>user info</div>


<div>user image: </div>
<div>user name: <%=link_to voice_post.name, {controller: 'voice_posts', action: 'index', id: voice_post.id } %></div>
<div>user followings count: <%= link_to voice_post.followings.count, public_customer_followings_path(voice_post.id)  %></div>
<div>user follower count: <%=link_to voice_post.followers.count, public_customer_followers_path(voice_post.id) %></div>
<div><%= link_to "Edit", edit_public_customer_path(voice_post.id) %></div>


<%
=begin
%>

<div>user image: </div>
<div>user name: <%=link_to voice_post.name, {controller: 'voice_posts', action: 'index', id: voice_post.id} %></div>
<div>user followings count: <%#= link_to voice_post.customer.followings.count, public_customer_followings_path(voice_post.customer.id)  %></div>
<div>user follower count: <%#=link_to voice_post.customer.followers.count, public_customer_followers_path(voice_post.customer.id) %></div>
<div><%#= link_to "Edit", edit_public_customer_path(voice_post.customer.id) %></div>

<%
=end
%>