<div class="container">
  <div class="row">
    <div class="col-4">
      <%= render "customers", customers: @voice_post %>
    </div>
    <table class="col-8">
      <thead>
        <tr align="center">
          <th colspan="6"><i class="far fa-clock"></i><%#= @customers.name %>さんの投稿一覧</th>
        </tr>
      </thead>
       <tbody>
          <tr class = "text-center">
            <td class = "col">title</td>
            <td class = "col">image</td>
            <td class = "col">#tag</td>
            <td class = "col">audio</td>
            <td class = "col">good</td>
            <td class = "col">comment</td>
           </tr>
          <% @voice_posts.each do |voice_post| %>
          <tr class = "text-center">
            <td><%= link_to voice_post.title, public_voice_post_path(voice_post) %></td>
            <td></td>
            <td><%= render_with_hashtags(voice_post.category) %></td>
            <td>
              <% if voice_post.voice.attached? %>
                <audio src="<%= rails_storage_redirect_path(voice_post.voice) %>" controls=""></audio>
              <% else %>
                ないよ
              <% end %>
            </td>
            <td>♡<%= voice_post.favorites.count %></td>
            <td><%= voice_post.comment_posts.count %></td>
            <td><%= link_to "削除", public_voice_post_path(voice_post), method: :delete %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>