<div class="container">
  <div class="row">

<!--user inf-->
    <div class="col-4">
      <%= render "customers", customers: @customers %>
    </div>

<!--投稿一覧-->
    <div class = "col-8">
    <table width = "100%">
      <thead>
        <tr align="center">
          <th colspan="6"><i class="fas fa-list"></i><font size=6px><%= @customers.name %>さんの投稿一覧</th>
        </tr>
      </thead>
       <tbody>
          <tr>
            <td class = "sort" colspan="6">sort :  <%= link_to 'new', public_voice_posts_index_sort_new_path(id: @customers.id, new: 'true') %>    |   <%= link_to 'good', public_voice_posts_index_sort_favorites_path(id: @customers.id,favorites: 'true') %></td>
          </tr>
          <tr class = "text-center">
            <td>title</td>
            <td>image</td>
            <td>#tag</td>
            <td>introduction</td>
            <td>good</td>
            <td>comment</td>
           </tr>
           
          <% @voice_posts.each do |voice_post| %>
          <tr class = "text-center">
            <td><%= link_to voice_post.title, public_voice_post_path(voice_post) %></td>
            <td><%= image_tag voice_post.get_image, size: '100x100' %></td>
            <td><%= render_with_hashtags(voice_post.category) %></td>
            <td><%= voice_post.introduction %></td>
            <td>♥<%= voice_post.favorites.count %></td>
            <td><%= voice_post.comment_posts.count %></td>
            <% if current_customer == @customers %>
              <td><%= link_to "削除", public_voice_post_path(voice_post), method: :delete %></td>
            <% else %>
            <% end %>
          </tr>
          <% end %>
          <tr>
            <td colspan="6" class = "text-center"><%= paginate @voice_posts %></td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
  </div>