<div class="container">
  <div class="row">
    <div class="col-4">
      <div>user info</div>
      <div>user image: </div>
      <div>user name: <%#= @customers.name %></div>
      <div>user follows count</div>
      <div>user follower count</div>
    </div>
    <table class="col-8">
      <thead>
        <tr align="center">
          <td colspan="6">投稿フォーム</td>
        </tr>
      </thead>
       <tbody>
          <%= form_with model: @voice_posts, url: public_voice_posts_path, metdod: :post do |f| %>
            <tr><td>title</td><td><%= f.text_field :title %></td></tr>
            <tr><td>introduction</td><td><%= f.text_field :introduction %></td></tr>
            <tr><td>image</tr>
            <tr><td>audio</td><td><%= f.file_field :voice %></tr>
            <tr><td>#tag</td><td><%= f.text_field :category %></tr>
            <tr><td><%= f.submit '投稿' %></td></tr>
           <% end %>
        </tbody>
      </table>
    </div>
  </div>
