<div class="container">
  <div class="row">
    <div class="col-4">
      <%= render "customers", customers: @voice_posts_customer %>
      <table>
        <tbody>
          <tr>
            <td class = "comment_box">
              <% if customer_signed_in? %>
              <% if current_customer.following?(@voice_posts.customer) %>
                <%= link_to "フォロー外す", public_customer_relationships_path(@voice_posts.customer.id), method: :delete %>
              <% else %>
                <%= link_to "フォローする", public_customer_relationships_path(@voice_posts.customer.id), method: :post %>
              <% end %>
              <% else %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>
              <%= form_with model: [@voice_posts, @comment_posts], url: public_voice_post_comment_posts_path(@voice_posts.id), method: :post do |f| %>
              <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
            </td>
          </tr>
          <tr>
            <td>
              <%= f.submit "送信する" %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class = "col-8">
      <table height = "50%", width = "100%">
        <thead>
          <tr align="center">
            <th colspan="6"><i class="far fa-play-circle"></i><font size=6px><%= @voice_posts.customer.name %>さんの投稿詳細</th>
          </tr>
        </thead>
         <tbody>
            <tr>
              <td colspan="6", class = "adudio">
                <% if @voice_posts.voice.attached? %>
                  <audio src="<%= rails_storage_redirect_path(@voice_posts.voice) %>" controls=""></audio>
                <% else %>
                <% end %>
              </td>
            </tr>
            <tr class = "text-center">
              <td>title</td>
              <td>image</td>
              <td>#tag</td>
              <td>introduction</td>
              <td>good</td>
              <td>comment</td>
            </tr>
            <tr class = "text-center">
              <td><%= link_to @voice_posts.title, public_voice_post_path(@voice_posts) %></td>
              <td><%= image_tag @voice_posts.get_image, size: '100x100' %></td>
              <td><%= render_with_hashtags(@voice_posts.category) %></td>
              <td><%= @voice_posts.introduction %></td>
              <td>
                <% if customer_signed_in? %>
                  <% if @voice_posts.favorited_by?(current_customer) %>
                    <%= link_to public_voice_post_favorites_path(@voice_posts), method: :delete do %>
                      ♥<%= @voice_posts.favorites.count %>
                    <% end %>
                  <% else %>
                    <%= link_to public_voice_post_favorites_path(@voice_posts), method: :post do %>
                      ♡<%= @voice_posts.favorites.count %>
                    <% end %>
                  <% end %>
                <% else %>
                <% end %>
              </td>
              <td><%= @voice_posts.comment_posts.count %></td>
              <% if current_customer == @voice_posts_customer.id %>
                <td><%= link_to "edit", edit_public_voice_post_path(@voice_posts), data: {"turbolinks"=>false}  %></td>
              <% else %>
              <% end %>
            </tr>
          </tbody>
        </table>
        <table class = "comment">
          <tbody>
            <% @comment.each do |comment_post| %>
            <tr>
              <td class = "comment_day">
                <%= comment_post.created_at.strftime('%Y/%m/%d') %>
                <%= link_to comment_post.customer.name, {controller: 'voice_posts', action: 'index', id: comment_post.id } %>
                <% if comment_post.customer == current_customer %>
                  <%= link_to "削除", public_voice_post_comment_post_path(comment_post.voice_post, comment_post), method: :delete %>
                <% else %>
                <% end %>
              </td>
            </tr>
            <tr>
              <td>
                  <%= comment_post.comment %>
                <% end %>
              </td>
            </tr>
            <tr>
              <td  colspan="6" class = "paginate"><%= paginate @comment %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>