<div class="container">
  <div class="row">
    <div class="col-4">
      <%= render "customers", voice_post: @voice_posts%>
                <tr>
            <td>
            <%= form_with model: [@voice_posts, @comment_posts], url: public_voice_post_comment_posts_path(@voice_posts.id), method: :post do |f| %>
              <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
              <%= f.submit "送信する" %>
             <% end %>
             </td>
          </tr>
                  <tr>
            <td>
              <% if @voice_posts.favorited_by?(current_customer) %>
                <%= link_to public_voice_post_favorites_path(@voice_posts), method: :delete do %>
                  good ♥<%= @voice_posts.favorites.count %>
                <% end %>
              <% else %>
                <%= link_to public_voice_post_favorites_path(@voice_posts), method: :post do %>
                  good ♡<%= @voice_posts.favorites.count %>
                <% end %>
              <% end %>
              </td>
          </tr>
          <tr>
            <td>
            <% if current_customer.following?(@voice_posts.customer) %>
              <%= link_to "フォロー外す", public_customer_relationships_path(@voice_posts.customer.id), method: :delete %>
            <% else %>
              <%= link_to "フォローする", public_customer_relationships_path(@voice_posts.customer.id), method: :post %>
            <% end %>
            </td>
          </tr>
    </div>
    <table class="col-8">
      <thead>
        <tr align="center">
          <th colspan="6"><i class="far fa-clock"></i><%= @voice_posts.customer.name %>さんの投稿詳細</th>
        </tr>
      </thead>
       <tbody>
          <tr class = "text-center">
            <td class = "col">title</td>
            <td class = "col">image</td>
            <td class = "col">#tag</td>
            <td class = "col">audio</td>
            <td class = "col">good</td>
            <td class = "col">comment</td>
           </tr>
          <tr class = "text-center">
            <td><%= link_to @voice_posts.title, public_voice_post_path(@voice_posts) %></td>
            <td></td>
            <td><%= render_with_hashtags(@voice_posts.category) %></td>
            <td>
              <% if @voice_posts.voice.attached? %>
                <audio src="<%= rails_storage_redirect_path(@voice_posts.voice) %>" controls=""></audio>
              <% else %>
                ないよ
              <% end %>
            </td>
            <td>♡<%= @voice_posts.favorites.count %></td>
            <td><%= @voice_posts.comment_posts.count %></td>
            <td><%= link_to "削除", public_voice_post_path(@voice_posts), method: :delete %></td>
          </tr>


          <tr>
            <td>
            <% @voice_posts.comment_posts.each do |comment_post| %>
              <%= comment_post.customer.name %>
              <%= comment_post.created_at.strftime('%Y/%m/%d') %><%= comment_post.comment %>
            <% end %>
            </td>
          </tr>

<%
=begin
%>
<%
=end
%>



        </tbody>
      </table>
    </div>
  </div>